<%= form_with(model: estagio) do |form| %>
  <% if estagio.errors.any? %>
    <div class="center" style="color: red">
      <h2><%= pluralize(estagio.errors.count, "error") %> prohibited this estagio from being saved:</h2>

      <ul>
        <% estagio.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="center">
    <%= form.label :titulo, style: "display: block" %>
    <%= form.text_field :titulo %>
  </div>

  <div class="center">
    <%= form.label :descricao, style: "display: block" %>
    <%= form.text_area :descricao %>
  </div>

  <div class="center">
    <%= form.label :localidade, style: "display: block" %>
    <%= form.text_field :localidade %>
  </div>

  <div class="center" style="margin-top: 15px; margin-bottom: 15px;">
    <%= form.submit 'submit', class: 'button is-primary' %>
  </div>
<% end %>
